<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-lg-offset-1">
        <p>We are a small team of licensed unarmed guards that provides simple, yet effective parking enforcement. We leverage modern technology and old-fashioned 
          patrolling to eliminate inefficiencies.
        </p>
      </div>
      <div class="col-lg-3 col-lg-offset-1"> <p>We make parking enforcement no longer an issue for you. </p></div>

      <div class="col-lg-3 col-lg-offset-1">
        <p>We serve all areas of the Phoenix valley. Give us a call or email to see if we can help make your community a more sane place to park.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
      </div>
    </div>
  </div>
</section>
